

   body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: rgb(29, 166, 166);
        box-sizing: border-box;

        }

    .tb {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        box-sizing: border-box; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }


    .name {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        box-sizing: border-box; 
        font-size:medium;
        font-weight: bold;

         }

    .submit {
        background-color: rgb(14, 151, 197);
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 3px;
          }

    .submit:hover {
        background-color: #45b549;
   }